export PATH=$HOME/.local/bin:$HOME/bin:/usr/local/bin:$PATH

# Ensure gpg can prompt input from an available tty
export GPG_TTY=$(tty)

BREW_HOME="/home/linuxbrew/.linuxbrew"
BREW_BINARY="$BREW_HOME"/bin/brew

if [[ -d /home/linuxbrew/ && -f "$BREW_BINARY" ]]; then
    {{ if (eq .chezmoi.group "devbox") -}}
    export PATH="$PATH:"$BREW_HOME"/bin:"$BREW_HOME"/sbin"
    {{- else }}
    # Load (home)brew
    eval "$("$BREW_BINARY" shellenv)"
    {{- end }}
    {{ if .system.multi_user_system -}}
    # Impersonate brew management user
    alias brew="sudo -Hu {{ .system.brew_multi_user }} $BREW_BINARY"
    {{- end }}
fi

if [[ -d "$HOME/.pyenv" ]]; then
    # Enable pyenv
    export PYENV_ROOT="$HOME/.pyenv"
    export PATH="$PYENV_ROOT/bin:$PATH"
    eval "$(pyenv init --path)"
    eval "$(pyenv init -)"
    eval "$(pyenv virtualenv-init -)"
fi

if [[ -f $(brew --prefix nvm)/nvm.sh ]]; then
    source $(brew --prefix nvm)/nvm.sh
fi

if command -v cargo &>/dev/null; then
    # Add Cargo's bin dir to make cargo (rust) execs available
    export PATH="$PATH:$HOME/.cargo/bin"
fi

if command -v go &>/dev/null; then
    # Add Go's bin dir to make go execs available
    export PATH="$PATH:$HOME/go/bin"
fi

if [[ -d "$BREW_HOME"/lib/ruby" ]]; then
    # Add Ruby's exec dir to make Ruby execs available
    export PATH="$PATH:"$BREW_HOME"/lib/ruby/gems/3.1.0/bin"
fi

if [[ -d "$BREW_HOME"/opt/clang-format" ]]; then
    export PATH=""$BREW_HOME"/opt/clang-format/bin:$PATH"
fi

{{ if (eq .chezmoi.os "linux") -}}
{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
# WSL-specific code
if [[ -d "/mnt/c/Users/timor.g/AppData/Local/Programs/Microsoft VS Code/bin/" ]]; then
    export PATH="$PATH:/mnt/c/Users/timor.g/AppData/Local/Programs/Microsoft VS Code/bin/"
fi
{{- end }}
{{- end -}}

{{ if .personal.work_env -}}
# Load work-generic profile
source {{ .system.work_generic_dotfiles_profile }}

# Load work-generic env file if exists
if [[ -v "WORK_ZSH_ENV_EXTENSION" && -f "$WORK_ZSH_ENV_EXTENSION" ]]; then
  source "$WORK_ZSH_ENV_EXTENSION"
fi
{{- end }}
