[include]
   path = {{ .chezmoi.homeDir }}/.config/git/common.gitconfig
{{- if (hasKey .personal "signing_key") }}
[user]
   signingkey = {{ .personal.signing_key }}
{{- end }}
[gpg]
   program = gpg
