export PATH=$HOME/.local/bin:$HOME/bin:/usr/local/bin:$PATH

{{ if .tools.brew -}}
# Load (home)brew
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{- end }}

{{ if .personal.work_env -}}
source {{ .system.work_dotfiles_zsh_dir }}/.zshenv
{{- end }}
