[include]
   path = {{ .chezmoi.homeDir }}/.config/git/common.gitconfig
{{- if (hasKey (default (dict) .gpg) "signing_key") }}
[user]
   signingkey = {{ .gpg.signing_key }}
{{- end }}
[gpg]
   program = gpg
