export PATH=$HOME/.local/bin:$HOME/bin:/usr/local/bin:$PATH

# Ensure gpg can prompt input from an available tty
export GPG_TTY=$(tty)

{{ if (eq .chezmoi.os "linux") -}}
BREW_HOME="/home/linuxbrew/.linuxbrew"
{{- else if (eq .chezmoi.os "darwin") -}}
{{ if (eq .chezmoi.arch "arm64") -}}
BREW_HOME="/opt/homebrew"
{{- else }}
BREW_HOME="/usr/local"
{{- end}}
{{- end}}
BREW_BINARY="$BREW_HOME"/bin/brew

if [[ -f "$BREW_BINARY" ]]; then
    {{- if (eq .chezmoi.group "devbox") -}}
    export PATH="$PATH:"$BREW_HOME"/bin:"$BREW_HOME"/sbin"
    {{- else }}
    # Load (home)brew
    eval "$("$BREW_BINARY" shellenv)"
    {{- end -}}
    {{ if .system.multi_user_system -}}
    # Impersonate brew management user
    alias brew="sudo -Hu {{ .system.brew_multi_user }} $BREW_BINARY"
    {{- end }}
fi

{{ if (eq .chezmoi.os "linux") -}}
{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
# WSL-specific code
if [[ -d "/mnt/c/Users/timor.g/AppData/Local/Programs/Microsoft VS Code/bin/" ]]; then
    export PATH="$PATH:/mnt/c/Users/timor.g/AppData/Local/Programs/Microsoft VS Code/bin/"
fi
{{- end }}
{{- end -}}

{{ if .personal.work_env -}}
# Load work-generic profile
source {{ .system.work_generic_dotfiles_profile }}

# Load work-generic env file if exists
if [[ -v "WORK_ZSH_ENV_EXTENSION" && -f "$WORK_ZSH_ENV_EXTENSION" ]]; then
  source "$WORK_ZSH_ENV_EXTENSION"
fi
{{- end }}
