[user]
	name = {{ .personal.full_name }}
	email = {{ .personal.email }}
	signingkey = {{ .personal.signing_key }}
[pull]
	rebase = true
[core]
	autocrlf = input
[alias]
	exe = update-index --chmod=+x
	root = rev-parse --show-toplevel
[commit]
	gpgsign = true
[gpg]
	program = gpg
