#!/usr/bin/env bash

# {{- if (eq .chezmoi.os "linux") -}}
# {{-   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}

function main {
    local vpn_sudo_extension_file="/etc/sudoers.d/vpn-mtu"
    if ! {
        echo "{{- .system.user -}} ALL = NOPASSWD: /usr/local/bin/vpn-up"
        echo "{{- .system.user -}} ALL = NOPASSWD: /usr/local/bin/vpn-down"
    } | sudo tee "$vpn_sudo_extension_file"; then
        return 1
    fi

    if ! sudo chmod 440 "$vpn_sudo_extension_file"; then
        return 2
    fi

    {{- template "sedg_profile" }}

    local vpn_up_exe="${SEDG_VPN_EXECUTABLES_DIR}/vpn-up"
    local vpn_down_exe="${SEDG_VPN_EXECUTABLES_DIR}/vpn-down"
    local vpn_root_link_dir="/usr/local/bin"

    if ! ln -sv "$vpn_up_exe" "$vpn_root_link_dir"; then
        return 3
    fi
    
    if ! ln -sv "$vpn_down_exe" "$vpn_root_link_dir"; then
        return 3
    fi

    return 0
}

main "$@"

# {{-   end -}}
# {{- end }}
