# Add work executables-dir to $PATH as well
export PATH="$SEDG_EXECUTABLES_DIR:$PATH"

if [[ -d "/usr/local/arm-buildroot-linux-gnueabihf_sdk-buildroot" ]]; then
    # Add Portia's cross-toolchain to enable native cross-compilation
    export PATH="$PATH:/usr/local/arm-buildroot-linux-gnueabihf_sdk-buildroot/bin"
fi

if [[ -d "$SEDG_IOE_DEV_ENV_FRAMEWORK_DIR" && -f "$SEDG_IOE_DEV_ENV_FRAMEWORK_ENTRY_POINT" ]]; then
    source "$SEDG_IOE_DEV_ENV_FRAMEWORK_ENTRY_POINT"

    # devbox API, will be deprecated
    source "$DEV_ENV_DIR/common/global-config.sh" "$DEV_ENV_DIR/common/global-env-config.sh"
    source "$DEV_ENV_DIR/devbox/devbox-functions.sh"
fi
