# Add work executables-dir to $PATH as well
export PATH="$SEDG_EXECUTABLES_DIR:$PATH"

local expected_portia_sdk_paths=(
    "/usr/local/arm-buildroot-linux-gnueabihf_sdk-buildroot/bin"
    "/usr/arm-buildroot-linux-gnueabihf_sdk-buildroot/bin"
)

local portia_sdk_path=""
for expected_portia_sdk_path in "${expected_portia_sdk_paths[@]}"; do
    if [[ -d "$expected_portia_sdk_path" ]]; then
        portia_sdk_path="$expected_portia_sdk_path"
        break
    fi
done

if [[ -n "$portia_sdk_path" ]]; then
    # We're in a Portia 4 environment
    export PORTIA_ENV=1
    export PORTIA_ENV_VERSION=4

    # Add Portia's cross-toolchain to enable native cross-compilation
    export PATH="$PATH:$portia_sdk_path"
else
    export PORTIA_ENV=0
    export PORTIA_ENV_VERSION=0
fi

if [[ "$PORTIA_ENV" == "1" ]]; then
    # I prefer using my own node if available
    if brew list node &> /dev/null; then
        ln -sf "$(brew --prefix node)/bin/node" "$HOME/.local/bin/node"
    fi
fi

export LIBSUITE_DIR="$HOME/projects/sources/libsuite"

if [[ -d "$SEDG_IOE_DEV_ENV_FRAMEWORK_DIR" && -f "$SEDG_IOE_DEV_ENV_FRAMEWORK_ENTRY_POINT" ]]; then
    source "$SEDG_IOE_DEV_ENV_FRAMEWORK_ENTRY_POINT"

    # devbox API, will be deprecated
    source "$DEV_ENV_DIR/common/global-config.sh" "$DEV_ENV_DIR/common/global-env-config.sh"
    source "$DEV_ENV_DIR/devbox/devbox-functions.sh"
fi

export PATH="$HOME/.jenv/bin:$PATH"
if command -v jenv &> /dev/null; then
    eval "$(jenv init -)"
fi

if [[ -d "$(pwd)/builds/x86/Debug/so_conan" ]]; then
    export LD_LIBRARY_PATH="$(pwd)/builds/x86/Debug/so_conan:$LD_LIBRARY_PATH"
fi

if [[ -d "$HOME/.cargo" ]]; then
    source "$HOME/.cargo/env"
fi

{{- if (eq .chezmoi.group "devbox") }}
while IFS='' read -r -d '' file; do
    source "$file"
done< <(find "$HOME" -maxdepth 1 -iname "*.env" -type f -print0)

while IFS='' read -r -d '' file; do
    source "$file"
done< <(find "$HOME/.envs" -maxdepth 1  -type f -print0)
{{- end }}
